<h1>Create a new Listing</h1>

<%= form_for :listing, :url => {:controller=>'listings', :action => 'create'} do |f| %>
<p>
	<%= f.label :address %>
	<%= f.text_field :address %>
	<%= f.label :date %> 
	<%= date_field("availability", "day") %>
	<%= f.label :duration %>
	<%= datetime_field("time", "duration") %>
</p> 

<p>
	<%= f.submit %>
</p>

<% end %>